.msg__container::-webkit-scrollbar {
  display: none;
}

.msg__container {
  height: 80vh;
}

.input__msg {
  height: 8vh;
  border-top: 0.1px solid rgb(231, 231, 231);
}

.sidebar {
  height: 11vh;
}

.emoji__container {
  bottom: 8vh;
}

.room__info {
  font-family: "Roboto Condensed", sans-serif;
}
